# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear
*.iml

# Arquivos gerados por compilação
bin/
out/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.ipr
*.iws
*.iml

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# SO arquivos temporários
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Backup
# =========================
*.swp
*.tmp
*~
